.carousel{
    height: 50%;
    display: flex;
    align-items: center;
    /* border: solid 1px white; */
}
.carouselItem{
    display: flex;
    text-transform: uppercase;
    color: white;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: bold;
}