.selectBtn{
    height: 50px;
    min-width: 130px;
    border: solid 2px gold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: large;
    font-family: Montserrat;
    cursor: pointer;
}
.selectBtn:hover{
    background-color: gold;
    color: black;
}