# Set the default behavior for text files
* text=auto

# Ignore line endings for specific file types
*.md text
*.html text
*.css text
*.js text
*.json text
*.yml text

# Set binary files
*.jpg binary
*.png binary
*.gif binary
*.pdf binary

# Specify files that should always be treated as binary
*.woff2 binary
*.woff binary
*.jpeg binary

# Specify merge and diff driver for specific files
*.docx diff=word
*.pdf diff=pdf

# Exclude files and directories from Git
/.idea/* -text
/.vscode/* -text
/node_modules/* -text
/dist/* -text
