body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    color: #ffff00;
    font-family: 'Arial', sans-serif;
}

.calculator-container {
    text-align: center;
    margin: 0;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.display {
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #f4f4f4;
}

button:active {
    background-color: #ddd;
}
