*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
    display: flex;
     height: 70px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
   font-weight: 600;
   font-size: 15px;
}
.left_head{
    display: flex;
    gap: 2rem;
    margin-left:10px ;
}
.left_head ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    
}

.left_head ul li a{
    text-decoration: none;
    color: black;
}
.left_head ul li a:hover{
    color: rgb(153, 87, 98);

}
.dribble_logo{
    height: 55px;
    width: 90px;
}
.right_head{
    margin-right: 10px;
}
.right_head a{
 text-decoration: none;
 margin-right: 20px;
 color: black;
}
#sign_up{
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

h1{
    text-align: center;
    margin-top: 30px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    margin-top:50px;
    padding: 30px 60px;
    gap: 2rem;
}
.travel1{
    height: 250px;
    width: 350px;
    border: 1px solid white;
    border-radius: 10px;
}
.display_name{
    margin-right: 120px;
}
.icons{
    font-size: 13px;
    color: rgb(94, 92, 92);
}
a{
    text-decoration: none;
    color: black;
}
.travel1:hover{
    transform: scale(1.1);
}
.photo{
    margin-top: 8px;
}
footer{
    padding: 30px;
}
.foot1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 185px;
}
.left_foot{
    display: flex;
    justify-content: space-between;
}
.left_foot ul {
    display:flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.left_foot ul li{
    list-style: none;
}
.right_foot a{
    margin-left: 20px;

}
.foot2{
    color: rgb(111, 108, 108);
}