.coinpage{
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    border-right: solid 2px gray;
    padding: 5px;
}
.coin-market{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 25px;
}
#desc{
    padding: 25px;
    width: 100%;
    height: max-content;
    overflow: hidden;
    font-family: Montserrat;
    text-align: justify;
}
.coin-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
@media screen and (max-width:426px) {
    .coinpage{
        flex-direction: column;
        align-items: center;
    }
    .sidebar{
        width: 100%;
    }
}