*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
}
#tetris{
  background-color: #eeecec;
 height: 70vh;
  border: 1px solid;
}
.butt{
    /*  position: absolute;*/
   /* bottom: 5%; */
    width: 100%;
  display: none;
  justify-content: space-evenly;
  visibility:hidden;
}
.butt button{
 width: 15%;
    aspect-ratio: 1;
    font-size: 20px;
    background: unset;
    border: none;
}
.butt button svg{
  filter: drop-shadow(4px 6px 2px rgb(0 0 0 / 0.4));
}
#scoreboard{
  width: 15vw;
  aspect-ratio: 3/1;
  background-color: black;
  border: 10px solid white;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Silkscreen', cursive;
  
}
.score{
  display: flex;
  align-items: center;
  width: 45%;
  height: 70%;
flex-direction: row-reverse;
}
#gameoverscreen.popup , #resumescreen.popup{
   position: absolute;
    width: 25%;
    aspect-ratio: 1.5/1;
    background: #292929;
    border-radius: 10px;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: top .4s,width .4s,height .4s;
    top: 40%;
    height: unset;
}
#gameoverscreen,#resumescreen{
  width: 0%;
    position: absolute;
    top: -30%;
    transition: top .4s,width .4s,height .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.5/1;
    background: #292929;
    border-radius: 10px;
    font-family: 'Silkscreen', cursive;
    font-size: 0px;
    color: white;
   
  
}
#gameoverscreen.popup div:nth-child(2),#resumescreen.popup div:nth-child(2){
 color: black;
    background: white;
    width: 50%;
    aspect-ratio: 4/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#startscreen{
  position: absolute;
    width: 100%;
    backdrop-filter: blur(3px);
    height: 100%;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  z-index: 1;
}
#startscreen img{
  width: 25%;
}
#startscreen.gamestartted{
  display: none;
}
#startscreen div{
   font-family: 'Silkscreen', cursive;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
#pause{
      position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    text-align: center;
}
#description{
  font-family: 'Silkscreen', cursive;
}
@media screen and (max-width:450px){
  body{
    justify-content: center;
    }
    
  #tetris{
    width: 70vw;
    height: unset;
  
  }
  #scoreboard{
    width: 60vw;
  }
  .butt{
    visibility:unset;
     display: flex;
    margin:20px 0;
  }
  #gameoverscreen.popup, #resumescreen.popup{
    width: 76%;
    font-size: 20px;
  }
  #startscreen img{
  width: 90%;
  }
  .pc{
    display: none;
  
 
}


  #gameoverscreen.popup div:nth-child(2),#resumescreen.popup div:nth-child(2){
    color: black;
    background: white;
    width: 50%;
    aspect-ratio: 4/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
}

@media screen and (min-width:450px) and (max-width:700px){
  #scoreboard{
  width: 35vw;
  
}

  
}
@media screen and (min-width:700px) and (max-width:900px){
  #scoreboard{
  width: 35vw;
}
  #gameoverscreen.popup,#resumescreen.popup{
    width: 50%;
  }
  
  
  
}

@media screen and (min-width:900px) and (max-width:1225px){
  #scoreboard{
  width: 25vw;
 
}
}
