@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:wght@300;700&family=Montserrat:wght@200;400;500;800&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-color: #1d232a;
}
