.carousel-cell {
    width: 100%;
    /* full width */
    height: 70vh;
    /* height of carousel */
    margin-right: 10px;
}

.car-img {
    width: 100%;
    height: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* position dots in carousel */
.flickity-page-dots {
    bottom: 20px;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

.flickity-button {
    display: none;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 13px black;
    z-index: 10;
    font-family: sans-serif;
}

nav div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div:nth-of-type(1) {
    width: 60%;
}

nav div:nth-of-type(2) {
    width: 10%;
}

nav div:nth-of-type(1)>img {
    height: 100%;
}

nav div:nth-of-type(2)>img {
    height: 1rem;
}

nav div:nth-of-type(1)>a>img {
    height: 1rem;
}

nav a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    /* margin: 0px 20px; */
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    text-decoration: underline;
}



#three-image {
    display: flex;
    width: 100%;
    position: relative;
    background-color: white;
}

#three-image>img {
    width: 33.3%;
}

#three-image>div {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#three-image>div>div {
    width: 33.3%;
    display: flex;
    justify-content: center;
    margin: 14px 0;
    text-decoration: upper;
    text-transform: uppercase;
}

#three-image>div>div>p {
    background: red;
    width: fit-content;
    border-radius: 20px;
    padding: 10px 35px;
    color: white;
    font-family: sans-serif;
}

#fixed-div {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
    height: 90vh;
    background-image: url(./images/history-plx.jpg);
    background-size: cover;
}




#transparent-div {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#transparent-div img {
    width: 30em;
}

#transparent-div>div{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
#transparent-div>div>p{
    text-transform: uppercase;
    width: max-content;
    padding: 10px 20px;
    border-radius: 26px;
    background: red;
    font-family: sans-serif;
}

footer {

    background: white;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logos{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#main-footer::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: #80808045;
    border-radius: 10px;
}

#main-footer::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 2px;
    background: #80808045;
    border-radius: 10px;
}
#main-footer{
    height: 60%;
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey

}
#main-footer>ul{
    list-style: none;
    font-size: small;
}
#main-footer>ul>li{
    margin-bottom: 10px;
    font-family: sans-serif;
}
#main-footer>ul>li:nth-of-type(1){
    font-weight: bold;
    font-size: medium;
}

footer>div:nth-of-type(3){
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
}

#logos>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    aspect-ratio: 1/1;
    position: relative;
}
#logos>div>i{
    color: #ffffff;
    z-index: 1;
    font-size: 1.5rem;
}
#logos>div>img{
    position: absolute;
}
#talk{
    position: fixed;
    bottom: 0;
    z-index: 2;
    right: 0;
}