@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Montserrat:wght@300;400;800&family=Noto+Sans+JP&family=Palette+Mosaic&family=Raleway:wght@200&family=Roboto:wght@500&family=Saira+Condensed:wght@100&family=Ysabeau+Office:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: gold;
}
.App{
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}